@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1610608347172'); /* IE9 */
  src: url('iconfont.eot?t=1610608347172#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABrQAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBGIEkATYCJAMMCwgABCAFhG0HOxvvBcgekiSIVJ6jKFSCIgRIFA9fa+j7u3sXBAdAHtBGZaLSqrJwQA5IqtZ3Oh41kVB3335tTjELZdBkriezZ9/e3qLW9XUqCS9Fk1uCRiYBAmb/uHf6V0CBzGdZTnMsHhMwsDTQsQZ1kRRIgt4wdoFLOEyg3ah4usPK+nbwVVijAnHL5bCAb86rKCzRKtQ1C4t4xaQ1PU7vALwMvx8/ITVfkiqzJp5eqbBD8ZeO3wTDfDMP/T7CBwJcXiFjGSjERW30nEEwskG71NieWStCmivw3xBydXFt/+GRBFGz8jvBPIolvnS4TBJ/Evh3nZ9BHXdPAyczTCCJgWDD7YuL9s1Bmx2UXn52XH93XX2NO+HO6+uyS+vSjtOLKfMkGuavOqo7KkuOoqziiqpdVN0g3lTYg2i6Sd8etPH+2BjUVd5C0/rqSWDzxsfz8/uN5o6ntWTZD73e+P8MAZotw9N8+Vf+xqOP7ZlLIfl/vh0FfI4LuQ8XNPNG+QHQKtGb9+N4PZuKLrB0uahcl2vas4mR5gRkc4cGLGe/p/HKoZszh9Ycj0HSYgSyVtNoIS1DpcM21FrtQLslVcs7DOAMorRh0QqA0GsHkm5vIOt1hhbSI1SG/UCtNwO0O4uIDTvM5vIv42QRZEfrBLpsqsIcg/CPClvJMSJZeFYQUjqJe10BTElMLiaqSCE+xxTvqCNVCIaMqzJWguNIklTUuOomm0h0CqHlJiWxuhcl2lQZ/B3giIVA7JDVBORio1Iwv7PgX/p8K+IwQmLBW8pqrJ0I5+XqHaVIlNwDrZIqvcru5RmvUQ6pBIFBDKeSoUrQj0gkKqTV93MjNkIi54iwJleS3Y71lSauL5c/IIdVYd2QI0WOouxbJMnfwrk6liAREwAA') format('woff2'),
  url('iconfont.woff?t=1610608347172') format('woff'),
  url('iconfont.ttf?t=1610608347172') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1610608347172#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ball:before {
  content: "\ee2d";
}

.icon-arrow-left:before {
  content: "\e655";
}

